.container__done-recipes-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 20px 92px;
}

.done-recipe-card {
  display: flex;
  gap: 16px;
}

.done-recipe-card__img-container {
  flex-basis: 40%;
  flex-shrink: 0;
}

.done-recipe-card__image {
  border-radius: 16px;
  max-width: 100%;
}

.done-recipe-card__content {
  flex-grow: 1;
  max-width: calc(60% - 16px);
  padding-top: 8px;
}

.done-recipe-card__content h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.done-recipe-card__nationality-category {
  color: #999;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.done-recipe-card__done-date {
  margin-bottom: 8px;
  padding-left: 1px;
}

.done-recipe-card_tags__container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.done-recipe-card_tags {
  background-color: rgba(245, 158, 47, 0.12);
  border: 1px solid rgba(245, 158, 47, 0.12);
  border-radius: 16px;
  color: orange;
  font-size: 0.85rem;
  overflow: hidden;
  padding: 3px 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
