.container__done-recipes-cards {
  display: flex;
  flex-direction: column;
  font-family: SourceSansPro , Helvetica , sans-serif;
  gap: 20px;
  margin: 0 20px 92px;
}

.done-recipe-card {
  display: flex;
  gap: 16px;
}

.done-recipe-card__img-container {
  align-items: center;
  display: flex;
  position: relative;
}

.done-recipe-card__image {
  border-radius: 16px;
  filter : brightness(50%);
  height: 150px;
  width: 150px;
}

.done-recipe-card__content {
  flex-grow: 1;
  max-width: calc(60% - 16px);
  padding-top: 8px;
}

.header_card {
  display: flex;
  justify-content: space-between;
}

.done-recipe-card__content h3 {
  color: orange;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

.done-recipe-card__nationality-category {
  color: #999;
}

.done-recipe-card__done-date {
  max-width: 20ch;
  overflow: hidden;
  padding-left: 1px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.done-recipe-card__tags-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  left: 2px;
  position: absolute;
  top: 5px;
}

.done-recipe-card__tag {
  background-color: rgba(116, 114, 115, 0.26);
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  font-size: 0.7rem;
  padding: 3px 8px;
}
