.container__fav-recipes-cards {
  display: flex;
  flex-direction: column;
  font-family: SourceSansPro , Helvetica , sans-serif;
  gap: 20px;
  margin: 0 20px 92px;
}

.fav-recipe-card {
  display: flex;
  gap: 16px;
}

.fav-recipe-card__img-container {
  flex-basis: 40%;
  flex-shrink: 0;
}

.fav-recipe-card__image {
  border-radius: 16px;
  max-width: 100%;
}

.fav-recipe-card__content {
  flex-grow: 1;
  max-width: calc(60% - 16px);
  padding-top: 8px;
}

.fav-recipe-card__content h3 {
  color: orange;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fav-recipe-card__nationality-category {
  color: #999;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fav-recipe-card__done-date {
  margin-bottom: 8px;
  padding-left: 1px;
}

.fav-recipe-card__share-button {
  background-color: transparent;
  border: 0;
}

.fav-recipe-card__share-button img:hover {
  filter: invert(85%) sepia(35%) saturate(7075%)
    hue-rotate(358deg) brightness(99%) contrast(107%);
}
