footer {
  align-items: center;
  background-color: white;
  border-radius: 16px 16px 0 0;
  bottom: 0;
  box-shadow: 0 -7px 5px -2px rgba(0, 0, 0, 0.1);
  display: flex;
  font-size: 0.857rem;
  gap: 8px;
  justify-content: space-around;
  left: 0;
  padding: 16px;
  position: fixed;
  width: 100%;
}

.footer-btn {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
}

.footer-btn img:hover {
  filter: invert(85%) sepia(35%) saturate(7075%)
    hue-rotate(358deg) brightness(99%) contrast(107%);
}
