.container__header {
  align-items: center;
  display: flex;
  font-family: SourceSansPro , Helvetica , sans-serif;
  justify-content: space-between;
  padding: 16px;
}

.container__header h3 {
  font-family: CopperPot , Helvetica , sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
}

.header__icons {
  align-items: center;
  display: flex;
  gap: 24px;
}

.profile-icon {
  border-radius: 10px;
  color: black;
  font-size: 20px;
}

.header__search-button {
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 5px;
  display: flex;
  height: 25px;
  justify-content: center;
  width: 25px;
}

.header__search-button img {
  border-radius: 5px;
  width: 28px;
}
