.main {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

.imgRecipe {
  height: 230px;
  object-fit: cover;
  width: 100%;
}

.divRecomendations {
  display: flex;
  margin-bottom: 20px;
  overflow-x: overlay;
  position: relative;
}

.imgRecipeRecomendation {
  border-radius: 16px;
  filter : brightness(80%);
  height: 150px;
  width: 150px;
}

.divRecipe {
  display: inline-block;
  height: 175px;
  margin: 10px;
  text-align: center;
  width: 150px;
}

.startRecipeBtn, .finishRecipeButton {
  background-color: coral;
  border: none;
  border-radius: 10px;
  bottom: 0;
  color: white;
  height: 35px;
  left: calc((100vw / 2) - 75px);
  margin-bottom: 10px;
  position: fixed;
  width: 150px;
}

.finishRecipeButton:disabled {
  background-color: gray;
}
